
.hidden {
    display: none !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > * {
    margin: .7rem 1%;
}

/* Narrow screens: 1 column, large font */
@media (min-width: 0px) {
    html {
        font-size: large;
    }
    .box {
        width: 98%;
    }
}

/* Medium screens: 2 column, medium font */
@media (min-width: 700px) {
    html {
        font-size: medium;
    }
    .box {
        width: 48%;
    }
}

/* Wide screens: 3 column */
@media (min-width: 1050px) {
    .box {
        width: 31.333%;
    }
}

#title, #agent-title, .trait-set-name {
    text-align: center;
    font-family: "Geologica", "Arial Black", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-variant: small-caps;
}

.trait-name h3, .sfx-name, button, select {
    font-family: "Bahnschrift", "Arial", sans-serif;
    font-weight: normal;
}

.trait-set-description, .trait-description, .sfx-description {
    font-family: "Arial Narrow", sans-serif;
}

.trait-set-description, .trait-description {
    font-style: italic;
}

#title {
    margin-top: 1.5rem;
    font-size: 3rem;
    justify-content: center;
}

[contenteditable=true]:not(:focus) {
    border-bottom: 1px dotted;
    margin-bottom: -1px;
}

#agent-title {
    margin-top: .7rem;
    margin-bottom: .2rem;
}

#agent-title > span {
    padding-right: .3rem;
    font-size: 1.8rem;
}

#agent-title > span.customizable {
    font-size: 2rem;
}

#plot-point-section {
    display: flex;
    align-items: center;
}

#plot-point-section > * {
    display: inline-flex;
}

.plot-point {
    display: flex;
}

.plot-point > input[type=image] {
    margin: 0 .5rem;
    max-width: 1.6rem;
    max-height: 1.6rem;
    width: auto;
    height: auto;
}

button, select {
    font-size: 1rem;
    min-width: 1.5rem;
    max-height: 1.8rem;
}

button {
    cursor: pointer;
}

input[type=image][disabled] {
    cursor: default;
}

#btn-new-pp {
    margin-right: .5rem;
}

#customize-button {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: end;
}

.box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid;
    padding: 1rem 1%;
}

.box.prime-set {
    border-color: black;
}

.box.plus-set {
    border-color: lightgray;
}

.trait-set-name {
    margin: 0;
    font-size: 1.7rem;
}

.trait-set-description {
    margin: 0;
    text-align: center;
    font-size: 1.1rem;
}

.trait-set-traits {
    display: flex;
    flex-wrap: wrap;
}

.trait {
    display: flex;
    flex: 100%;
    margin: 1.5rem 8% 0rem;
    align-items: center;
}

.trait-delete {
    margin-left: -1.5rem;
    margin-right: .5rem;
}

.trait-name {
    display: flex;
    flex: 1;
}

.trait-name h3 {
    margin: 0 .7rem 0 0;
    flex: 1;
    font-size: 1.3rem;
}

.trait-die {
    display: flex;
}

.customize-mode .trait-set-traits.swappable .trait-die {
    border: 1px dotted;
    margin: -1px;
}

.customize-mode .trait-die.selected {
    opacity: 70%;
    border: 2px solid;
    margin: -2px;
}

.customize-mode .trait-set-traits.swapping .trait-die:not(.selected) {
    border: 1px dashed;
    margin: -1px;
}

.trait-die > img, .trait-die > input[type=image] {
    max-width: 1.8rem;
    max-height: 1.8rem;
    width: auto;
    height: auto;
}

.trait-die-arrows {
    display: flex;
    flex-flow: column;
    margin-left: .3rem;
    margin-right: -1.5rem;
}

.trait-die-arrows > input[type=image] {
    margin: .1rem 0;
    cursor: pointer;
}

.trait-description {
    flex: 100%;
    margin: 0 5% .3rem;
    width: 100%;
    font-size: 1rem;
}

.trait-addition {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.sfx-name {
    margin: 2rem auto .5rem;
    text-align: center;
    font-size: 1rem;
}

.sfx-description {
    max-width: 90%;
    margin: 0 auto .5rem;
    text-align: center;
    font-size: 1rem;
}

.sfx-description img {
    max-height: 1em;
    width: auto;
    height: auto;
    position: relative;
    top: .2em;
}

.sfx-cost-header {
    font-style: italic;
}
